#main.container
	.row
		.col-md-6
		%h2{:style => 'color: blue'} All the candidates
		%table{border: 1,align: "center"}
			%thead
				%tr
					%th Name
					%th DOB
					%th Profession
					%th Phone num
					%th Email
				%tr
			- @users.each do |user|
				%tr
					%td= user.name
					%td= user.dob
					%td= user.profession
					%td= user.tel
					%td= user.email
