<h1>Profile</h1>
<h5>Dear <%=current_user.name%>,have a look at your Profile</h5>
  <div class="form-inputs">
  <hr>
    <%= @user.name %>
    <br/>
    <%= @user.profession %>
    <br>
    <%= @user.address %>
    <br>
    <%= @user.city %>
    <br>
    <%= @user.zip %>
    <br>
  </div>
  <%= link_to 'Edit your information', edit_user_path%>
